a.navbar-brand {
  
  text-align: center;
  word-break: break-all;
  background:black;
  color: rgb(160, 28, 28);
}

html {
  font-size: 10px;
  color: #000;
  
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
    color: black;
  }
}

.box-shadow {
  box-shadow:black;
}
